@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}



@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Black.ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'LatoReg';
    src: url('../font/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLight';
    src: url('../font/Lato-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Lato';
    @apply text-mainText min-w-[370px] text-[16px];
}


.wrapper {
    @apply flex flex-col min-h-[100vh] items-center justify-center;
}

.section {
    @apply w-full flex flex-col items-center;
}

.container {
    @apply flex flex-col gap-[60px] max-w-[1230px] justify-center items-center w-full flex-wrap;
}

.content {
    @apply flex flex-col pt-[50px] pb-[50px] lg:pt-[80px] lg:pb-[80px] px-[30px] py-[20px] 2xl:px-[344px] xl:px-[200px] lg:px-[100px] md:px-[50px] sm:px-[20px] w-full items-center justify-center;
}

.regular {
    @apply text-[14px] lg:text-[16px] leading-[160%] font-[Latoreg] text-textThird;
}

.regularBold {
    @apply text-[16px] leading-[160%] font-[Lato];
}

.leadBold {
    @apply text-[16px] sm:text-[18px] xl:text-[20px] leading-[150%] font-[Lato];
}

.lead {
    @apply text-[14px] sm:text-[16px] xl:text-[20px] leading-[150%] font-[Latoreg];
}

.absolutebg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/background.svg') no-repeat;
    pointer-events: none;
    background-size: cover;
}

.absolutebg2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/background (1).svg') no-repeat;
    background-size: cover;
    pointer-events: none;
}

.absolutebg3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/background\ \(3\).svg') no-repeat;
    background-size: cover;
    pointer-events: none;
}

.absolutebg4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/background\ \(4\).svg') no-repeat;
    background-size: cover;
    pointer-events: none;
}

.dot {
    position: relative;
}

.dot::before {
    content: url('../img/ellipse.svg');
    position: absolute;
    left: -10%;

}

h2 {
    width: fit-content;
    @apply text-[28px] sm:text-[36px] md:text-[46px] leading-[130%];
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
}


.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion::before {
    content: '+';
    font-size: 23px;
    color: #FF3F3A;
    padding-right: 10px;
}

.active::before {
    content: '-';
}

.button {
    position: relative;
    background: #FF3F3A;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.button::before {
    content: '';
    position: absolute;
    top: var(--y, 50%);
    left: var(--x, 50%);
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, rgba(255, 166, 0, 0.7), transparent 40%);
    opacity: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.button:hover::before {
    opacity: 1;
}

.button span {
    position: relative;
    z-index: 1;
}